___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

___

<img src=https://i.ibb.co/6gCsHd6/1200px-Pandas-logo-svg.png width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">Data Analysis with Python</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Session - 03</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#4d77cf; font-size:200%; text-align:center; border-radius:10px 10px;">Pandas Series</p>

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Content</p>

* [IMPORTING LIBRARIES NEEDED IN THIS NOTEBOOK](#0)
* [CREATING PANDAS SERIES](#1)
    * [Using Lists](#1.1)
    * [Using Numpy Arrays](#1.2)
    * [Using Dictionaries](#1.3)
    * [Using Scalar Value](#1.4)
* [DATA IN A SERIES](#2)
* [BASIC ATTRIBUTES & METHODS OF SERIES](#3)
* [INDEXING AND SLICING WİTH PANDAS SERIES](#4)
* [Selection with Condition and Broadcasting](#5)
* [RECAP FOR SEVERAL SELECTING ATTRIBUTES](#6)
* [THE END OF THE SESSION-03](#7)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Importing Libraries Needed in This Notebook</p>

<a id="0"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

Once you've installed NumPy & Pandas you can import them as a library:

In [1]:
import numpy as np
import pandas as pd

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Creating a Pandas Series</p>

<a id="1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

Pandas series is a one-dimensional data structure. It can hold data of many types including objects, floats, strings and integers. You can create a series by calling pandas.Series(). A list, numpy array, dict can be turned into a pandas series. You should use the simplest data structure that meets your needs [Source](https://pythonbasics.org/pandas-series/). The axis labels are collectively called index. Labels need not be unique but must be a hashable type. The object supports both integer and label-based indexing and provides a host of methods for performing operations involving the index [Source](https://www.geeksforgeeks.org/creating-a-pandas-series/).

[SOURCE01](https://pandas.pydata.org/docs/reference/api/pandas.Series.html), [SOURCE02](https://www.datasciencemadesimple.com/create-series-in-python-pandas/), 
[SOURCE03](https://www.cbsecsip.in/2020/08/pandas-data-structure-series.html), 
[SOURCE04](https://towardsdatascience.com/pandas-series-a-lightweight-intro-b7963a0d62a2), 
[SOURCE05](https://www.educba.com/pandas-series/), 
[SOURCE06](http://www.rebellionrider.com/python-pandas-series-in-detail-part-1/), 
[SOURCE06](https://www.javatpoint.com/python-pandas-series), &
[SOURCE06](https://towardsdatascience.com/20-examples-to-master-pandas-series-bc4c68200324)<br>

In this lecture we will discuss how to create Pandas Series, use basic attributes of Series, index Pandas Series & be familiar with Pandas Dataframes.

**You can create a series by calling pandas. Series() . A list, numpy array, dict and scalar value can be turned into a pandas series.**

**``pd.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)``**

One-dimensional ndarray with axis labels (including time series).

In [2]:
labels = ['a', 'b', 'c']
my_list = [10, 20, 30]
arr = np.array([10, 20, 30])
d = {'a': 10, 'b': 20, 'c': 30}

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Using Lists</p>

<a id="1.2.1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**To turn a list into a series, all you have to do is:**

In [5]:
pd.Series(my_list)

0    10
1    20
2    30
dtype: int64

By default it assigns an index. First it shows the index, then the element value.

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Using NumPy Arrays</p>

<a id="1.2.2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**You can create a series from a numpy ndarray.**

In [3]:
arr

array([10, 20, 30])

In [ ]:
pd.Series(data=)

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Using Dictionaries</p>

<a id="1.2.3"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**If you have a dictionary, you can turn it into a series:**

In [6]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

It used the dictionary keys as index. The keys of the dictionary match with the Index values; hence, the default Index values have no effect.

Note that the Index is first build with the keys from the dictionary. After this the Series is reindexed with the given Index values, hence we get all NaN as a result.

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Using Scalar Value</p>

<a id="1.2.4"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**``Scalars``** are single values representing one unit of data, such as an integer or bool, as opposed to data structures like a list or tuple, which are composed of scalars.

If data is a scalar value, an index must be provided. The value will be repeated to match the length of index [Source](https://www.tutorialspoint.com/python_pandas/python_pandas_series.htm).

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Data in a Series</p>

<a id="2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**``A series``** is a **one-dimensional data structure**. A Series is very **similar to a NumPy array** (in fact it is built on top of the NumPy array object). **What differentiates** the NumPy array from a Series, is that a Series can **have axis labels**, meaning it can be indexed by a label, instead of just a number location. It also doesn’t need to hold numeric data, it can hold any arbitrary Python Object [Source](http://www.datasciencelovers.com/python-for-data-science/pandas-series/).

So important point to remember for Pandas series is:

- Homogeneous data
- Size Immutable
- Values of Data Mutable

**A pandas Series can hold a variety of object types:**

[Reminder Source for Numpy Arrays](https://pythonguides.com/python-numpy-data-types/)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">BASIC ATTRIBUTES & METHODS OF SERIES</p>

<a id="3"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**SOME COMMON ATTRIBUTES** [Official Pandas API Document](https://pandas.pydata.org/docs/reference/api/pandas.Series.html)<br>

**Series.dtype**	It returns the data type of the data.<br>
**Series.shape**	It returns a tuple of shape of the data.<br>
**Series.size**	    It returns the size of the data.<br>
**Series.ndim**	    It returns the number of dimensions in the data.<br>
**Series.index**	Defines the index of the Series.<br>
**Series.keys**  	Return alias for index.<br>
**Series.values**   Returns Series as ndarray or ndarray-like depending on the dtype.<br>
**Series.items**	Lazily iterate over (index, value) tuples.<br>
**Series.head**   	Return the first n rows.<br>
**Series.tail** 	Return the last n rows.<br>
**Series.sample**   Return a random sample of items from an axis of object.<br>
**Series.sort_index**  Sort Series by index labels.<br>
**Series.sort_values**  Sort by the values.<br>
**Series.isin**     Whether elements in Series are contained in values.<br>

In [8]:
ser = pd.Series(np.random.randint(0, 100, 7))
ser

0     7
1    70
2    20
3    13
4    33
5    75
6    26
dtype: int32

In [9]:
ser.shape

(7,)

ser.size

In [10]:
len(ser)

7

In [11]:
ser.ndim

1

In [12]:
ser.index

RangeIndex(start=0, stop=7, step=1)

In [13]:
list(ser.index)

[0, 1, 2, 3, 4, 5, 6]

In [14]:
ser.keys()

RangeIndex(start=0, stop=7, step=1)

In [15]:
list(ser.keys())

[0, 1, 2, 3, 4, 5, 6]

In [16]:
ser.values

array([ 7, 70, 20, 13, 33, 75, 26])

In [17]:
ser_label = pd.Series(data = [121,200,150,99], index = ["terry","Michael","orion","jason"])
ser_label

terry      121
Michael    200
orion      150
jason       99
dtype: int64

In [18]:
ser_label.index

Index(['terry', 'Michael', 'orion', 'jason'], dtype='object')

In [19]:
ser_label.values

array([121, 200, 150,  99], dtype=int64)

In [20]:
[i for i in ser_label.values]

[121, 200, 150, 99]

In [21]:
ser_label.items

<bound method Series.items of terry      121
Michael    200
orion      150
jason       99
dtype: int64>

In [23]:
list(ser_label.items())

[('terry', 121), ('Michael', 200), ('orion', 150), ('jason', 99)]

In [24]:
for i, v in ser_label.items():
    print(f"Index : {i}, Value : {v}")

Index : terry, Value : 121
Index : Michael, Value : 200
Index : orion, Value : 150
Index : jason, Value : 99

In [27]:
ser = pd.Series(data = np.random.randint(2,10,10), index = [i for i in "dsamdnasdn"])
ser

d    6
s    9
a    6
m    4
d    9
n    4
a    9
s    7
d    2
n    5
dtype: int32

In [28]:
ser.head()

d    6
s    9
a    6
m    4
d    9
dtype: int32

In [29]:
ser.tail()

n    4
a    9
s    7
d    2
n    5
dtype: int32

In [30]:
ser.sort_index(ascending = False)

s    9
s    7
n    4
n    5
m    4
d    6
d    9
d    2
a    6
a    9
dtype: int32

In [32]:
ser.sort_values(ascending = False).head(3)

s    9
d    9
a    9
dtype: int32

In [33]:
ser.isin([4,5])

d    False
s    False
a    False
m     True
d    False
n     True
a    False
s    False
d    False
n     True
dtype: bool

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Indexing and Slicing with Pandas Series</p>

<a id="4"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

As stated and implemented by examples above, a Series is very similar to a NumPy array. What differentiates the NumPy array from a Series is that **a Series can have axis labels**, meaning it can be indexed by a label, instead of just a number location. It also doesn’t need to hold numeric data, it can hold any arbitrary Python Object [Source](https://rpubs.com/pjozefek/659184).

The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look up of information.

The axis labeling information in pandas objects serves many purposes:

- Identifies data (i.e. provides metadata) using known indicators, important for analysis, visualization, and interactive console display.
- Enables automatic and explicit data alignment.
- Allows intuitive getting and setting of subsets of the data set.

In this section, we will focus on the final point: namely, how to slice, dice, and generally get and set subsets of pandas objects. The primary focus will be on Series and DataFrame as they have received more development attention in this area. For more information, please visit [pandas-docs.github.io](https://pandas-docs.github.io/pandas-docs-travis/user_guide/indexing.html)

Let's see some examples of how to grab information from a Series. Let us create two sereis, ser1 and ser2:

In [1]:
import numpy as np
import pandas as pd

In [2]:
ser1 = pd.Series([1, 2, 3, 4], index = ['USA', 'Germany','RF', 'Japan'])
ser2 = pd.Series([1, 2, 5, 4, 6], index = ['USA', 'Germany','Italy', 'Japan', 'Spain'])

The two main data structures in pandas both have at least one axis. A **Series** has **one axis**, the index. A **DataFrame** has **two axes**, the index and the columns. It’s useful to note here that in all the DataFrame functions that can be applied to either rows or columns, an axis of 0 refers to the index, an axis of 1 refers to the columns.

**We're going to start with the basic form of selecting, using the [ ] operator.**

If we don’t introduce labels into our Series the index by default will be the natural numbers starting from 0. So the index will be the number of data introduced - 1.

Here we can see how 'calling' a label works.

In [3]:
ser1.sort_index()

Germany    2
Japan      4
RF         3
USA        1
dtype: int64

In [4]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
Spain      6
dtype: int64

In [5]:
ser2.sort_index()

Germany    2
Italy      5
Japan      4
Spain      6
USA        1
dtype: int64

As seen above, with a Series, the call will return a single scalar value that matches the value at that label in the index. If you pass in a value for a label that doesn't exist, you will get a KeyError raised. Also, if you pass in an integer and your index has that value, it will return it. But if you don't have an integer value in your index, it will return the value by position. This is convenient, but can be confusing.

**Let's see some slicing example with Series**

In [6]:
ser1

USA        1
Germany    2
RF         3
Japan      4
dtype: int64

In [7]:
ser1.index

Index(['USA', 'Germany', 'RF', 'Japan'], dtype='object')

In [8]:
ser1[3]

4

In [9]:
ser1.index[3]

'Japan'

In [10]:
ser1.index.get_loc("Japan")

3

In [11]:
ser1["Japan"]

4

In [12]:
ser1.Japan

4

In [13]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
Spain      6
dtype: int64

In [14]:
ser2[2:]

Italy    5
Japan    4
Spain    6
dtype: int64

In [15]:
ser2[::-1]

Spain      6
Japan      4
Italy      5
Germany    2
USA        1
dtype: int64

**Another huge pro of using labelled indexes is that you can perform operations between two different series and pandas know what labels have both series in common and does the addition automatically.**

Operations are then also done based on index:

In [16]:
a= np.array([3,6,9])
b = np.array([2,4,8,10])

In [17]:
a+b

ValueError: operands could not be broadcast together with shapes (3,) (4,)

In [18]:
ser1.shape

(4,)

In [19]:
ser2.shape

(5,)

In [20]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
RF         NaN
Spain      NaN
USA        2.0
dtype: float64

In [21]:
ser1*ser2

Germany     4.0
Italy       NaN
Japan      16.0
RF          NaN
Spain       NaN
USA         1.0
dtype: float64

**Let's make changes on indexes:**

In [22]:
ser = pd.Series(data = [121, 200, 150, 99], index = ["terry", "micheal", "orion", "jason"])
ser

terry      121
micheal    200
orion      150
jason       99
dtype: int64

In [23]:
ser[[0,2]]

terry    121
orion    150
dtype: int64

In [24]:
ser["terry":"orion"]

terry      121
micheal    200
orion      150
dtype: int64

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Selection with Condition and Broadcasting</p>

<a id="5"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [25]:
ser

terry      121
micheal    200
orion      150
jason       99
dtype: int64

In [26]:
"terry" in ser

True

In [27]:
121 in ser.values

True

In [28]:
ser < 100

terry      False
micheal    False
orion      False
jason       True
dtype: bool

In [29]:
ser[ser < 100]

jason    99
dtype: int64

In [30]:
ser[ser < 100] = 100
ser

terry      121
micheal    200
orion      150
jason      100
dtype: int64

In [31]:
ser.isin([121])

terry       True
micheal    False
orion      False
jason      False
dtype: bool

In [32]:
ser[ser.isin([121])]

terry    121
dtype: int64

In [34]:
ser[ser.isin([121])] = 125
ser

terry      125
micheal    200
orion      150
jason      100
dtype: int64

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Recap for Several Selecting Attributes</p>

<a id="6"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:150%; text-align:center; border-radius:10px 10px;">The End of The Session - 03</p>

<a id="7"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

___